<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
<main class="container">
<div class="login-container">
  <h2>Login to Code Fellowship</h2>

  <form action="/login" method="post">
    <label >Username</label>
    <input type="text"  name="username" required>

    <label >Password</label>
    <input type="text"  name="password" required>

    <input type="submit" class="btn btn-primary">Submit</input>
  </form>

</div>
</main>
</body>
</html>
