<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />

</head>
<body>

<div class="hero" data-theme="dark">

    <nav class="container-fluid">
        <ul>
            <li>
                <a href="./" class="contrast" onclick="event.preventDefault()"
                ><strong>Code Fellowship</strong></a
                >
            </li>
        </ul>

    </nav>
    <header class="container">
        <hgroup>
            <h1 th:text="${userName}">Code Fellowship</h1>
            <h2>Welcome to Lab 16</h2>
        </hgroup>
        <p><a href="/signup" role="button" >Signup</a></p>
        <p><a href="/login" role="button" >Login</a></p>
    </header>
</div>


<!-- Subscribe -->
<section aria-label="Subscribe example">
    <div class="container">
        <article>
            <hgroup>
                <h2>Subscribe</h2>
                <h3>Litora torquent per conubia nostra</h3>
            </hgroup>
            <form class="grid">
                <input
                        type="text"
                        id="firstname"
                        name="firstname"
                        placeholder="First name"
                        aria-label="First name"
                        required
                />
                <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Email address"
                        aria-label="Email address"
                        required
                />
                <button type="submit" onclick="event.preventDefault()">Subscribe</button>
            </form>
        </article>
    </div>
</section>
<!-- ./ Subscribe -->

<!-- Footer -->
<footer class="container">
    <small
    >Built with <a href="https://picocss.com">Pico</a> •
        <a href="https://github.com/picocss/examples/tree/master/v1-company/">Source code</a></small
    >
</footer>

</body>

</body>
</html>