<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />

</head>
<body>
<div class="hero" data-theme="dark">
    <nav class="container-fluid">
        <ul>
            <li>
                <a href="./" class="contrast" onclick="event.preventDefault()"
                ><strong>Code Fellowship</strong></a
                >
            </li>
        </ul>
    </nav>
    <header class="container">
        <hgroup>
            <h1>Code Fellowship</h1>
            <h2>Verified Page</h2>
        </hgroup>
        <p><a href="/logout" role="button" >Logout</a></p>

    </header>
</div>

</body>
</html>